#
# Exclude cache and temporary files.
#
Thumbs.db
._*
.DS_Store
.idea
*.sublime*
.project
.netbeans
.bundle
.bundle/*
.htpasswd
boxes/*
vendor
composer.lock
node_modules

# Exclude project-based configuration.
.dcr.yml
